.lowBody{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lownav{
    max-width: 600px;
    width: 100vw;
    height: auto;
    z-index: 1;
    display : flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;  
}

.buttons{
    display: flex;
    width: 100% ;
    height: 100%;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    transform: translateY(-30px);
}

.btn{
    scale: 1.2;
}

.chat{
    scale : 2.3;
    transform: translateY(-20%);
}

@media (min-width:725px){
    .lowBody{
        display: none;
    }
}

@media ((min-width:600px) and (max-width: 1024px)){
    .buttons{
        transform: translateY(-30px);
    }
    .chat{
        scale : 2;
        transform: translateY(-25.5px) translateX(.1vw);
    }
}

@media ((min-width: 1024px) and (max-width: 1400px)){
    .buttons{
        transform: translateY(-30px);
    }
    .chat{
        scale : 2;
        transform: translateY(-23.5px);
    }
}
@media ((min-width: 450px) and (max-width: 600px)){
    .buttons{
        transform: translateY(-5vw);
    }
    .chat{
        scale : 1.8;
        transform: translateY(-4.2vw) translateX(.1vw);
    }
}

@media (max-width:450px) {
    .btn{
        scale: .9;
    }
    .buttons{
        transform: translateY(-3vw);
    }
    .chat{
        scale : 1.3;
        transform: translateY(-6vw) translateX(.4vw);
    }
}   
@media (max-width:324px) {
    .btn{
        scale: .7;
    }
    
    .chat{
        scale : 1.2;
        transform: translateY(-5.4vw) translateX(.4vw);
    }
}   

