:root {
    --nav_fontsize: 10px;
    --circRadius: 4.5rem;
    
    --desk-scale : 1.4;
}

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.sidenav .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(70%);

}
.scaled {
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
  }
.sidenav .mid {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidenav .mid .homeBtn {
    margin: 20px;
    width: var(--circRadius);
    height: var(--circRadius);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    text-align: center;
}
.sidenav .low .logoutBtn {
    margin: 20px;
    width: var(--circRadius);
    height: var(--circRadius);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.sidenav .mid .remainingBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: var(--circRadius);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidenav .mid .remainingBtn div {
    margin: 17px;
    width: 100%;
    height: auto;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidenav .mid .remainingBtn div img {
    width: 70%;
    height: 70%;
    margin-bottom: 5px;
}
.sidenav .mid .homeBtn img {
    width: 103%;
    height: 103%;
    margin-bottom: 5px;
}



.sidenav .low {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sidenav .low .logoutBtn {
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:724px){
   .sidenav{ 
    width: 0;
    display: none;
    }
}

@media ((max-width:1301px) and (min-width:724px)){
    .sidenav .top{
        scale: 1.7;
        transform: translateY(0px);
    }
}